<section class="contact">
    <div class="container">
        <h1 class="text-center">Contact.</h1>
        <div class="row">
            <div class="col-lg-6 py-5 text-center"> 
                <h1 class="text-center">Contact Information</h1>
                <div class="mobile py-2">
                    <span><i class="fas fa-phone mx-2"></i></span>
                    <span>+8801968385155</span>
                </div>
                <div class="mobile my-1">
                    <span><i class="fas fa-message mx-2"></i></span>
                    <span>itmasjoy@gmail.com</span>
                </div>
                <div class="mobile py-2">
                    <span><i class="fas fa-location mx-2"></i></span>
                    <span>Dhaka, Bangladesh</span>
                </div>
            </div>
            <div class="col-lg-6 py-5">
                <h1 class="text-center">Send us a message</h1>
                <form>
                    <div class="form-group py-2">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                      </div>
                    <div class="form-group py-2">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group py-2">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" cols="30" rows="5" placeholder="Write your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                  </form>
            </div>
        </div>
    </div>
</section>
