
.btnDownloadCV {
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-right: 12px ;
}

.btnDownloadCV:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}


.btnContactUs {
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
}

.btnContactUs:hover {
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s;
}