<section class="skill">
    <div class="container">
        <div class="row">
               
                    <h2>Skills</h2>
                    <div *ngFor="let progress of skills" class="progress mb-4">
                      <div class="progress-bar" role="progressbar"
                           [style.width]="progress.percentage + '%'">
                        {{ progress.name }} - {{ progress.percentage }}%
                      </div>
                    </div>

                <input type="button" value="Download CV" class="btnDownloadCV mt-5">
                <input type="button" value="Contact Us" class="btnContactUs mt-5">

        </div>
    </div>
</section>
