<section class="skill">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-title mb-5">Skills</h2>
      <div *ngFor="let progress of skills" class="col-12 mb-4">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
               [style.width]="progress.percentage + '%'"
               [ngClass]="{'animate-progress': progress.percentage > 0}"
               [ngStyle]="{'--progress-width': progress.percentage + '%'}">
            <span>{{ progress.name }} - {{ progress.percentage }}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
