<section class="skill py-5">
    <div class="container py-5">
        <div class="row">
            <h1>About Me</h1>
            <p>Software Develoer</p>
            <p class="text-justify"> Hi I am <span class="font-weight-bold">Md. Al Shariar, </span>
                I am a professional software developer.

                Currently, I am working on Spring boot and angular framework, I have good working knowledge in Spring MVC, Spring Security, Spring RestFull API, Spring cloud, Microservice communication, Swagger, Jasper Report, Apache POI Report, Jackson library, Spring Mockito testing Framework, following good Design pattern, Clean code, etc.
                
                However, I have skilled in Python Django framework (full stack), web scraping with Python, HTML(PSD to HTML, responsive web page), CSS, Bootstrap, Vanilla JavaScript, jQuery, Java, C, C++, Version Controlling, Database ( MySQL, SQLite, PostgreSQL, Oracle)
                
                I have interested in web development, problem-solving, data science, machine learning, and artificial intelligence.
                
                Experience in Developing python Django web application, java desktop application and Android game using java.</p>

                <div class="progress my-3">
                    <div class="pro-value1">
                        <p class="">HTML/CSS <span class="text-white float-right">95%</span></p>
                    </div>
                </div>

                <input type="button" value="Download CV" class="btnDownloadCV mt-5">
                <input type="button" value="Contact Us" class="btnContactUs mt-5">

        </div>
    </div>
</section>
