<section class="services py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center pb-5">Services.</h1>
        <div class="row pb-3">
            <div class="col-lg-3 mb-3">
                <div class="card text-center py-3">
                    <div class="card-body">
                        <div class="circle">
                            <span><i class="fas fa-desktop"></i></span>
                        </div>
    
                        <h4 class="font-weigth-bold pb-2">Web Design</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, iste? Tempora, atque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
