<div class="container pb-5 main">
    <div class="row py-5">
        <div class="col-lg-6 py-5">
            <h3><small>Hello, i'm</small> <br>
            MD. AL SHARIAR
            </h3>
            <h6 class="pt-3">WEB DEVELOPER (FULL STACK)</h6>
            <input type="button" value="My Work" class="btn1 mt-5 mr-3">
            <input type="button" value="Hire Me" class="btn2 mt-5">
        </div>
        <div class="col-lg-6">
         <img src="assets/images/profile_pic_2.jpeg" class="profilePic" alt="Cinque Terre" width="304" height="236"> 
        </div>
    </div>
</div>
