<header class="mb-5">
    <nav class="navbar navbar-expand-lg text-uppercase">
      <div class="container">
        <a class="navbar-brand font-weight-bold" routerLink="/">AL SHARIAR</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link rounded" routerLink="/practice">P</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link rounded" routerLink="/reactive-forms">Reactive Forms</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link rounded" routerLink="/reactive-forms-two">Reactive Forms Two</a>
        </li>
        <li class="nav-item px-lg-4">
            <a class="nav-link rounded" routerLink="/rsjx-observable">Rsjx Observabl</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link rounded" routerLink="/flexBox">Flexbox</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link rounded" routerLink="/parent">Parent child practice</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link rounded" routerLink="/sibling">Sibling Component Communication</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


<!--Position Tutorial-->
<div class="position">
    <!-- div block level element -->
    <div>Block Element</div>
    <div>Block Element</div>

    <!-- anchor tag ta inline element -->
    <a href="#">Inline Element</a>
    <a href="#">Inline Element</a>

    <div>Nothing</div>
</div>

<!--Animation Tutorial-->
<div class="animation">
    <div class="parent mt-5">
        <div class="child">
    
        </div>
    </div>
</div>
