
<a class="rounded btn btn-secondary btn-lg my-1" routerLink="/rsjx-observable">Rsjx Observable</a>



<nav>
    <div class="container">
        <ul>
            <li><a href="" routerLink="/flexBox">Flexbox</a></li>
            <li><a href="" routerLink=""></a></li>
            <li><a href="" routerLink=""></a></li>
        </ul>
    </div>
</nav>
<!--Position Tutorial-->
<div class="position">
    <!-- div block level element -->
    <div>Block Element</div>
    <div>Block Element</div>

    <!-- anchor tag ta inline element -->
    <a href="#">Inline Element</a>
    <a href="#">Inline Element</a>

    <div>Nothing</div>
</div>

<!--Animation Tutorial-->
<div class="animation">
    <div class="parent mt-5">
        <div class="child">
    
        </div>
    </div>
</div>
