<header class="mb-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold fs-4" routerLink="/">AL SHARIAR</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/about"
              fragment="education-id"
              >Education</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/about"
              fragment="work-id"
              >Work Experience</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/certificate"
              routerLinkActive="active"
              >Certificate</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/project"
              routerLinkActive="active"
              >Project</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/skill"
              routerLinkActive="active"
              >Skill</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/service"
              routerLinkActive="active"
              >Service</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/contact"
              routerLinkActive="active"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 py-2 rounded nav-hover"
              routerLink="/practice"
              routerLinkActive="active"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
