<section class="projects">
  <div class="container">
    <h2 class="section-title text-center mb-5">My Projects</h2>
    <ul class="filter-list d-flex flex-wrap justify-content-center list-unstyled mb-4">
      <li
        class="btn btn-outline-primary mx-2 mb-2"
        [class.active]="activeFilter === 'All'"
        (click)="filterProjects('All')">
        All
      </li>
      <li
        class="btn btn-outline-primary mx-2 mb-2"
        [class.active]="activeFilter === 'java'"
        (click)="filterProjects('java')">
        Java
      </li>
      <li
        class="btn btn-outline-primary mx-2 mb-2"
        [class.active]="activeFilter === 'angular'"
        (click)="filterProjects('angular')">
        Angular
      </li>
      <li
        class="btn btn-outline-primary mx-2 mb-2"
        [class.active]="activeFilter === 'python'"
        (click)="filterProjects('python')">
        Python
      </li>
      <li
        class="btn btn-outline-primary mx-2 mb-2"
        [class.active]="activeFilter === 'react'"
        (click)="filterProjects('react')">
        React
      </li>
      <li
        class="btn btn-outline-primary mx-2 mb-2"
        [class.active]="activeFilter === 'php'"
        (click)="filterProjects('php')">
        Php
      </li>
      <li
        class="btn btn-outline-primary mx-2 mb-2"
        [class.active]="activeFilter === 'html'"
        (click)="filterProjects('html')">
        HTML/CSS/Bootstrap/JS
      </li>
    </ul>
    

    <div class="row g-4 projects-grid">
      <div
        class="col-md-4 project-card"
        *ngFor="let project of filteredProjects"
        [@fadeIn]>
        <div class="card h-100 shadow-lg">
          <img [src]="project.image" [alt]="project.title" class="card-img-top rounded">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
          </div>
          <div class="card-footer text-center">
            <a [href]="project.viewUrl" class="btn btn-primary btn-sm me-2" target="_blank">View Project</a>
            <a [href]="project.githubUrl" class="btn btn-secondary btn-sm" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
