/* contanier
display --- flex/ inline-flex  eita diye flex use shuru hobe
flex-direction --- row/row-reverse/column/column-reverse hoite pare
flex-wrap --- wrap/ nowrap / wrap-reverse hoite pare
flex-flow --- [flex-direction] [flex-wrap] / row nowrap (default value) ei duitar combination
column-gap --- // eita pixel er moto kore value dite hobe
row-gap ---
gap ---- [row-gap] [column-gap] / first value row-gap second value column-gap
justify-content ---- flex-start/ flex-end / center / space-between (even space for all properties)/ space around(space between er motoi
but samner and shobar last er element ar pore ekta space thakbe)/ space evenly (extra space evenly distributed)
align-items---- stretch/ align item on cross axis
align-content ----*/

/* eitake bole universal selector 
and ekhane margin padding 0 daoa hoi coz
pottek block level element er ekta default margin padding thake */
* {
    margin: 0;
    padding: 0;
}

.container {
    border: 5px solid black;
    /* dispaly er duita value ache ekta flex --jeita dile container block level element er moto kaj korbe arekta hosse inline-lex
    jeita dile container inline element er moto kaj korbe */
    display: flex;  
    height: 800px;
    /* flex-direction: row; */
    /* flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    gap: 20px 20px; */
    justify-content: center;
}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 3rem;
    text-align: center;
}

.item1 {
    background-color: rgb(34, 144, 200);
}

.item2 {
    background-color: blueviolet;
}

.item3 {
    background-color: rgb(9, 160, 145);
}

.item4 {
    background-color: rgb(18, 207, 55);
}

.item5 {
    background-color: rgb(178, 244, 12);
}

.item6 {
    background-color: rgb(206, 128, 26);
}

.item7 {
    background-color: rgb(123, 4, 91);
}

.item8 {
    background-color: rgb(50, 23, 169);
}

.item9 {
    background-color: rgb(191, 6, 9);
}